@charset "UTF-8";
html {
    box-sizing: border-box
}
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  /* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  /* Use a system font, if none are available use an available sans-sarif   font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    background-image: url(../assets/vecteezy_background-daun-fresh-green-leaf-background-great-for-wallpaper-and-background_139833/fresh-green-leaf-background-vector.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #b8e8dd; */
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


h1 {
    color: #3d1985;
}

h2 {
    margin-top: 10px;
}

#show-cards-btn{
    width: 93%;
}

.btn {
    margin: 10px;
}

.btn-primary {
    background-color: #0080C2;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    /* min-height: 40vh; */
    /* min-width: 80vw; */
    max-width: 300px; /* going to need some math here to make the game display properly on smaller screens*/
    margin-bottom: 10px;
}

.top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-image: url(../assets/vecteezy_vector-seamless-tropical-pattern-summer-exotic-plants-ornament-jungle-hand-drawn-texture-nature-illustration-botanical-background_677158/patt1.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
}

.bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.tile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.l-tile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);    
}

.space {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    height: 5rem;
    width: 5rem;
    border: 1px solid rgb(222, 217, 217);
}

.mountain {
    background-image: url(../assets/vecteezy_landscape-mountainous-in-circular-frame-vector-illustration-design_1310561/463_REpWIE1BUiAwODQtMTc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgb(172, 149, 149); */
}

.bottom-left, .bottom-right, .top-left, .top-right {
    background-color: lightgray;   
    background-image: url(../assets/vecteezy_africa-safari-map-vector-design-illustration-isolated-on-white-background_1843901/afrtica_safari_map1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.exit1 {
    background-color: darkgreen;
    color: white;
    grid-column: 3;
    justify-self: end;
    background-image: url(../assets/vecteezy_illustration-of-chameleon-with-forest-background-in-flat-style-fit-for-desktop-background-or-playground-wallpaper_172917/vector-chameleon-with-forest-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.exit2 {
    background-color: darkgreen;
    color: white;
    grid-column: 1;
    background-image: url(../assets/vecteezy_illustration-of-anaconda-on-forest-background-fit-for-playground-wallpaper-or-zoo-infographic_173013/anaconda-on-forest-background-vector.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.exit3 {
    background-color: darkgreen;
    color: white;
    grid-column: 1;
    background-image: url(../assets/vecteezy_flat-green-jungle-background_2773373/vecteezybackground-green-backgroundfr0521_generated.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
}

.exit4 {
    background-color: darkgreen;
    color: white;
    grid-column: 3;
    justify-self: end;
    background-image: url(../assets/vecteezy_background-daun-fresh-green-leaf-background-great-for-wallpaper-and-background_139833/fresh-green-leaf-background-vector.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}

form {
    background-color: white;
    padding: 20px;
    height: 30vh;
    border-radius: 10%;
}

/* .card-img-top {
    height: 50%;
    width: 100%;
} */

.pieces {
    height: 40px;
    width: 40px;
}

img {
    border-radius: 75%;
}

#how-to-play {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 75%;
    border-radius: 10%;
    padding: 20px;
    margin: 30px;
}

#game-tray{
    margin-top: 10px;
    width: 100%;
}

#instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

#pieces-tray{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* Touch styles */

.selected {
    border: 4px solid yellow;
}

.valid-drop {
    background-color: lightgreen;
}

/* cards */

.playingCard {
    /* box-sizing: border-box; */
    color: white;
    display: inline-block;
    margin: 5px 5px 50px 5px;
    cursor: pointer;
    /* Set the playingCard's dimensions, and size it relative to
       it's font size. */
    font-size: 12px;
    width: 150px;
    height: 200px;
    /* Add a default background color and border. */
    background-color: darkgreen;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0.20em;
    border: 1px solid #c3c3c3;
    /* Scale and set the background settings. */
    /* "Hide" any text within the element (use text to be
       simply compliant with screen readers, etc.). */
    /* text-indent: 100%; */
    white-space: wrap;
    overflow: auto;
    /* Default sizes for playingCards (size based off the font). */
    /* Optional styles for playingCards: borderless and drop shadow. */
    /* Not a playingCard, but a playingCard-shaped outline to represent a
       droppable place, like an empty pile. */ }
    .playingCard.small {
      font-size: 12px; }
    .playingCard.large {
      font-size: 26px; }
    .playingCard.xlarge {
      font-size: 42px; }
    .playingCard.no-border {
      border: 0; }
    .playingCard.shadow {
      box-shadow: 2px 2px 3px 0 rgba(41, 41, 41, 0.75); }
    .playingCard.outline {
      background-image: none;
      /* background-color: rgba(195, 195, 195, 0.5); */
      border: 0.4em dashed #daa520; }
    .playingCard.back-raptor {
        background-image: url("https://images.unsplash.com/photo-1606856110002-d0991ce78250?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"); }
    .playingCard.back-scientist {
        background-image: url("https://images.unsplash.com/photo-1584696993692-a53190f76609?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3334&q=80");}

.playingCard-tray{
    display: grid;
    overflow: auto;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    color: black;
}

#raptor-action-panel, #scientist-action-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dark-background {
    background-color: #161d1b;
}

.dark-background-2 {
    background-color: #3b5b52;
}

.light-text {
    color: rgb(215, 209, 209)
}

.medium-buttons{
    background-color: #6f4DA1;
    border: 0px;
}

.bg-img-home {
    background-image: url("../assets/vecteezy_vector-seamless-tropical-pattern-summer-exotic-plants-ornament-jungle-hand-drawn-texture-nature-illustration-botanical-background_677181/patt4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-intro {
    background-image: url("../assets/vecteezy_set-of-jungle-explorers-vector-illustration-best-vector-for-any-kind-of-projects-and-use-enjoy_251665/4_Jungle Explorer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -200px;
}

.bg-img-how-to-play {
    background-image: url("../assets/vecteezy_jungle-explorer-spies-something-through-his-binoculars-perfect-set-for-any-other-kind-of-design-layered-fully-editable-contains-of-ai10-eps10-and-svg-graphic-files_242225/Jungle Explorers1_RF_RMPL-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-pick-teams {
    background-image: url("../assets/vecteezy_a-green-jungle-landscape-illustration_296089/hztl_zs2i_180829.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#pick-teams h1 {
    color: white;
}

#team-choices {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: lightgreen;
    height: 200px;
    width: 100%;
    border-radius: 5%;
    padding: 15px;
}

#play-btn {
    width: 40%;
    font-size: 15px;
    font-weight: 500;
}

.bg-img-play {
    background-image: url("../assets/vecteezy_hand-painted-background-of-a-mountain-landscape_229998/hand_painted_mountain_landscape_1105.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.lock-screen {
    /* height: 100%; */
    overflow: hidden;
    /* width: 100%; */
    /* position: fixed; */
}

.dark-home {
    background-image: url("../assets/vecteezy_road-to-jungle-neon-signs-style-text-vector_2268148/3_generated.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -200px;
    background-position-y: -10px;
}

.killed {
    border: 8px solid red;
}

.captured {
    border: 8px solid rgb(255, 153, 0);
}